html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
  }
  
  /* Responsive Images */
  
  embed,
  iframe,
  img,
  object,
  video {
    max-width: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li,
  p,
  pre,
  blockquote,
  figure,
  hr {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  a:focus {
    outline: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
  }
  
  /* Removes all decimals and discs from lists */
  
  ol,
  ul {
    list-style: none;
  }
  
  /* 
   * Completely resets form items
   * ----------------------------
   * Super hard reset that removes all borders
   * and radiuses of all form items (including
   * checkboxes and radios)
   */
  
  input,
  textarea,
  button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    outline: none;
    appearance: none;
    text-align: left;
  }
  
  input:hover,
  input:active,
  input:focus,
  textarea:hover,
  textarea:active,
  textarea:focus,
  button:hover,
  button:active,
  button:focus {
    outline: none;
  }
  
  :root {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  html {
    font-size: 175%;
    font-weight: 300;
    line-height: 1.3;
  }
  
  body {
    align-items: center;
    background-image: url("darkwood.webp");
    background-repeat: repeat;
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  
  .container {
    max-width: 20em;
  }
  
 p {
    text-align: center;
    color: black;
  }
  
  .calculator {
    margin-left: auto;
    margin-right: auto;
    max-width: 15em;
    overflow: hidden;
  }
  
  #displayscreen {
    background-color: black;
    border:#cecccc solid .5rem;
    color: yellow;
    font-size: 2em;
    padding: 0.5em 0.75em;
    text-align: right;
    height: 20vh;
  }
  
  .calculatorkeys {
    background-color: lightgray;
    display: grid;
    padding: .5rem;
    grid-gap: .20rem;
    grid-template-columns: repeat(4, 1fr);
  }
.functionkey, .numberkey, #decimalkey, #clearkey, #equalkey {
    background-color: #8e8c8c;
    color:lightgray;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
  }
  
.calculatorkeys > *:active::before,
.calculatorkeys > .is-depressed::before {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  } 
  
  .functionkey {
    background-color:  #8e8c8c;
  }
  
  #clearkey{
    background-color: #8e8c8c;
    grid-column: -2;
    grid-row: 2 / span 2;
  }

 #zerokey{
    grid-column: 1 / span 2;
 }

 #equalkey{
    background-color: rgb(238, 104, 55);
    grid-column: -2;
    grid-row: 4 / span 2;
  }