#container {
    background-color: lightgoldenrodyellow;
    border: dashed 5px black;
    width: 70vw;
    height: 70vh;
    margin: 3vh auto;
}

#game{
    padding: 3vh;
    text-align: center;
}

#luckynum, #submitbutton, #playagain {
    font-size: 150%;
}
#playagain {
    visibility: hidden;
}
