
table, tr, td, th{
    text-align: center; 
    border: 1px solid black; width: 300px; 
    margin-left: auto; 
    margin-right: auto;        
}
tr, td, th{
    padding:10px;
}
input:focus {
    background-color: yellow;
}

a{
    text-decoration: none; 
    color: green;
}
a:visited {
    color:purple;
}
ol{
    list-style: none;
}
ul{
    list-style-type: "\01F60E";
}
.xxs{
    font-size: xx-small;
}
.xs{
    font-size: x-small;
}
.s{
    font-size: small;
}
.m{
    font-size: medium;
}
.l{
    font-size: large;
}
.xl{
    font-size: x-large;
}
.xxl{
    font-size: xx-large;
}
.vw1{
    font-size:1vw;
}
.vw3{
    font-size:3vw;
}
.vw5{
    font-size:5vw;
}
.vw7{
    font-size:7vw;
}
.vw10{
    font-size:10vw;
}
.vw15{
    font-size:15vw;
}