//*

*/
* {
    box-sizing: border-box;
  }
#grid {
    display: grid;
    width: 100%;
    grid-template-areas:
    "header         header          header          header          header"
    "leftcontent    leftcontent     rightcontent    rightcontent    menu"
    "footer         footer          footer          footer          menu ";
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
}
#header{
    grid-area: header;
    background-color: tan;
    padding: 5px;
}
#leftcontent{
    grid-area: leftcontent;
    background-color: rgb(147, 115, 74);
    display: grid;
    grid-template-areas:
    "image1 image2"
    "image3 image4";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 5px;
    justify-content:center;
    align-content: center;
}
#rightcontent{
    grid-area: rightcontent;
    background-color: rgb(147, 115, 74);
    display: grid;
    grid-template-areas:
    "image5 image6"
    "image7 image8";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 5px;
    justify-content: center;
    align-content: center;
}
#menu {
    grid-area: menu;
    background-color: rgb(85, 59, 23);
    text-align: center;
    color: white;
}
#footer{
    grid-area: footer;
    background-color: tan;
    padding: 5px;
}
#image1, #image2, #image3, #image4, #image5, #image6, #image7, #image8{
    background-color: white;
}