* {
    box-sizing: border-box;

}
#main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem auto;
    background-color: bisque;
}
#header{
    flex-basis: 100%;
    background-color: tan;
    padding: 1rem;
}
#content{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    margin-right: 1rem;
    justify-content: space-between;
}
#menu{
    padding: 1rem;
    margin-top: 1rem;
    background-color: rgb(85, 59, 23);
    flex: 1;
    text-align: center;
}
#rightcontent, #leftcontent{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 48%;
    row-gap: .5rem;
    padding: .5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    justify-content: space-around;
    background-color: rgb(147, 115, 74);
}
#footer{
    flex-basis: 100%;
    background-color: tan;
    padding: 1rem;
}
.image{
    background-color: white;
    padding: 1rem 1.5rem;
    flex-basis: 45%;
}
h2{
    color: white;
}