#main{
    width: 600px;
    height: 400px;
    background-color:pink;
    position: fixed;
}
#green{
    background-color: green;
    width: 100%;
    height: 25%;
}    
#yellow{
    background-color: yellow;
    width: 33.3%;
    height: 50%;
    float: left;
}
#red{   
    background-color: red;
    width: 33.3%;
    height: 50%;
    float: left;
}
#blue{
    background-color: blue;
    width: 33.3%;
    height: 75%;
    float: right;
}
#orange{
    background-color: orange;
    width: 66.6%;
    height: 25%;
    float: right; 
}
.smallwhite {
    background-color: white;
    height: 40%;
    width: 40%;
    margin: 5%;
    float: left;
}
