#main{
    width: 100vw;
    height: 100vh;
    background-color:pink;
    position: fixed;
}
#green{
    background-color: green;
    width: 100vw;
    height: 25vh;
    margin-left: 0;
    margin-top: 0;
}    
#yellow{
    background-color: yellow;
    width: 33.3vw;
    height: 50vh;
    margin-left: 0vw;
    float: left;
}
#red{   
    background-color: red;
    width: 33.3vw;
    height: 50vh;
    float: left;
}
#blue{
    background-color: blue;
    width: 33.3vw;
    height: 75vh;
    float: right;
}
#orange{
    background-color: orange;
    width: 66.6vw;
    height: 25vh;
    float: right; 
}
.smallwhite{
    background-color: white;
    height: 20vh;
    width: 12vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    float: left;
}
