#container {
    background-color: lightgoldenrodyellow;
    border: dashed 5px black;
    width: 70vw;
    height: 90vh;
    margin: 3vh auto;
}

#game{
    vertical-align: top;
    padding: 3vh;
    text-align: center;
 }

#luckynum, #submitbutton, #playagain, #gameover {
    font-size: 150%;
}
#playagain {
    visibility: hidden;
}

#message{
    color: green;
    animation: none;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

#gameover{
    visibility: hidden;
    margin-top: 3vh;
}