body{
    text-align: center;
} 
h1{
    text-shadow: 2px 2px 4px lightcoral;
}
h2{
    text-shadow: 1px 1px 2px green;
}
ol{
    list-style-position: inside;
}
table, tr, td, th{
    text-align: center; 
    border: 1px solid black; width: 300px; 
    margin-left: auto; 
    margin-right: auto;        
}
tr, td, th{
    padding:10px;
}
th{
    text-transform: uppercase;
}
a{
    text-decoration: none; 
    color: green;
}
ul{
    list-style: none;
}
p:nth-child(even){
    background-color: lightgrey;
}