#main{
    background-color:pink;
}
.boxformat{
    text-align:center;
    margin: 5px;
    padding: 5px;
}
h2{
    color: white;
   
}
#header{
    background-color: aqua;
    height: 100px;
}
#flexbox1{
    display: flex;
    height: 400px;
}
#aside{
    background-color: rgb(14, 193, 193);
    flex: 1;
}
#article{
    background-color: rgb(234, 116, 136);
    flex: 2;
    min-height: 0;
}
#flexbox2{
    display: flex;
    flex-wrap: wrap; 
    align-content: flex-end;
    height: 300px;
}
.image{
    background-color: gainsboro; 
    flex:1;
} 
#footer{
    background-color: aqua;
    height: 100px;
}

