#main{
    background-color: white;
}
.boxformat{
    text-align:center;
    margin: 5px;
    padding: 5px;
}
h2{
    color: white;
}
#header{
    background-color: lightblue;
    height: 100px;
}
#belowheader{
    display:flex;
    display: flex;
    height: 400px;
}
#nosidebar{
    background-color: darkgray;
    flex: 3;
    height: 400px;
}
#sidebar{
    background-color: navy;
    flex: 1;
    height: 400px;
}
#flexcontent{
    display: flex;
    height: 300pxx;
    justify-content: space-between;
    padding: 0;
}
.contentbox{
    flex: 1;
    background-color: lightgray;
    height: 275px;
}
#contentbox1{
    margin-right: 10px;
}
#footer{
    background-color:navy;
    height: 100px;
    margin-bottom: 0;
}
.imagecontent{
    display: flex;
    flex-wrap: wrap;
}
.image{
    background-color: white; 
    color: darkgray;
    flex: 30%;
} 
