#main{
    background-color:pink;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#main > div {
    margin: 5px;
    padding: 5px;
}
#header{
    background-color: aqua;
    flex-basis:100%;
    height: 10vh;
}
#aside{
    background-color: rgb(14, 193, 193);
    flex: 1;
    height: 65vh;
}
#article{
    background-color: rgb(234, 116, 136);
    flex: 2;
    flex-wrap: wrap; 
    padding: 10px;
    align-content: flex-end;
    height: 65vh;
}
#articlehead{
    flex-basis:100%;
}

.image{
    background-color: gainsboro;
    flex-basis: 28%;
    padding: 5px;
    margin: 5px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer{
    background-color: aqua;
    flex-basis: 100%;
    height: 10vh;
}
h2{
    color: white;
}
